<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}One For All{% endblock %}</title>
        {% block style %}{% endblock %}
    </head>

    <body>
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
                <h1>Base Template</h1>
            {% endblock %}

            {% block js_block %}
            {% endblock %}

        </div>
    </body>

</html>